'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle PlantUML Preview'
      'command': 'plantuml-preview:toggle'
    }
  ]
  '.plantuml-preview': [
    {
      'label': 'Toggle Zoom To Fit'
      'command': 'plantuml-preview:zoom-fit'
    }
    {
      'label': 'Zoom In'
      'command': 'plantuml-preview:zoom-in'
    }
    {
      'label': 'Zoom Out'
      'command': 'plantuml-preview:zoom-out'
    }
    {
      'label': 'Reset Zoom'
      'command': 'plantuml-preview:reset-zoom'
    }
  ]
  '.plantuml-preview .uml-image': [
    {
      'label': 'Copy Diagram'
      'command': 'plantuml-preview:copy-image'
    }
  ]
  '.plantuml-preview .copy-filename': [
    {
      'label': 'Copy Filename'
      'command': 'plantuml-preview:copy-filename'
    }
  ]
  '.plantuml-preview .open-file': [
    {
      'label': 'Open Diagram'
      'command': 'plantuml-preview:open-file'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'PlantUML Preview'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'plantuml-preview:toggle'
        }
      ]
    ]
  }
]
