# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle PlantUML Preview'
      'command': 'plantuml-preview:toggle'
    }
  ]
  '.plantuml-preview': [
    {
      'label': 'Toggle Zoom To Fit'
      'command': 'plantuml-preview:zoom-fit'
    }
    {
      'label': 'Zoom In'
      'command': 'plantuml-preview:zoom-in'
    }
    {
      'label': 'Zoom Out'
      'command': 'plantuml-preview:zoom-out'
    }
    {
      'label': 'Reset Zoom'
      'command': 'plantuml-preview:reset-zoom'
    }
  ]
  '.plantuml-preview .uml-image': [
    {
      'label': 'Copy Diagram'
      'command': 'core:copy'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'PlantUML Preview'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'plantuml-preview:toggle'
        }
      ]
    ]
  }
]
