# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-p': 'plantuml-preview:toggle'
'.plantuml-preview':
  'cmd-+': 'plantuml-preview:zoom-in'
  'cmd-=': 'plantuml-preview:zoom-in'
  'cmd-_': 'plantuml-preview:zoom-out'
  'cmd--': 'plantuml-preview:zoom-out'
  'cmd-0': 'plantuml-preview:zoom-reset'
  'cmd-9': 'plantuml-preview:zoom-fit'
