# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-p': 'plantuml-preview:toggle'

'.platform-darwin .plantuml-preview':
  'cmd-+': 'plantuml-preview:zoom-in'
  'cmd-=': 'plantuml-preview:zoom-in'
  'cmd-_': 'plantuml-preview:zoom-out'
  'cmd--': 'plantuml-preview:zoom-out'
  'cmd-0': 'plantuml-preview:zoom-reset'
  'cmd-9': 'plantuml-preview:zoom-fit'

'.platform-win32 .plantuml-preview':
  'ctrl-+': 'plantuml-preview:zoom-in'
  'ctrl-=': 'plantuml-preview:zoom-in'
  'ctrl-_': 'plantuml-preview:zoom-out'
  'ctrl--': 'plantuml-preview:zoom-out'
  'ctrl-0': 'plantuml-preview:zoom-reset'
  'ctrl-9': 'plantuml-preview:zoom-fit'

'.platform-linux .plantuml-preview':
  'ctrl-+': 'plantuml-preview:zoom-in'
  'ctrl-=': 'plantuml-preview:zoom-in'
  'ctrl-_': 'plantuml-preview:zoom-out'
  'ctrl--': 'plantuml-preview:zoom-out'
  'ctrl-0': 'plantuml-preview:zoom-reset'
  'ctrl-9': 'plantuml-preview:zoom-fit'
